.itsec-modal-background + .postbox-container {
    display: none !important;
}

.toplevel_page_itsec #poststuff #post-body.columns-2 {
    margin-right: 0 !important;
}
.toplevel_page_itsec #post-body.columns-2 #postbox-container-2 {
    padding-right: 0 !important;
    border-right: none !important;
}