html body.wp-admin #bwp-info-place {
    display: none !important;
}

.bwp-option-page-tabs {
    height: 1.45em;
    margin-bottom: 15px !important;
}
.bwp-option-page-tabs a:not(.version) {
    font-size: 16px !important;
    font-style: normal !important;
}
.bwp-option-page-tabs a.version {
    background: none !important;
    border: none !important;
    line-height: 24px !important;
}