html body.wp-admin .wpseo_content_cell #sidebar {
    display: none !important;
}
html body.wp-admin .wpseo_content_cell {
    height: auto !important;
    min-height: 500px !important;
}
html body.wp-admin .wpseo_content_wrapper,
html body.wp-admin .wpseo_content_wrapper #wpseo_content_top {
    display: block !important;
}
html body.wp-admin .yoast-container .container {
    max-width: none !important;
}